.vt-file{
  background-color: yellow;
}

.vt-ws{
  background-color: greenyellow;
}

.vt-multidroppablezone{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background-color: rgba(64,64,64,0.2);
  overflow: auto;
}

.vt-model{
  -webkit-user-select: none;
  cursor:move;
  display: inline-block;
  vertical-align: top;
  height: 30px;  
  
  text-overflow: ellipsis;
  margin: 1px;
}



.vt-model.selected{
  border: solid;
  border-color: red;
}

.ui-selecting {
  background: #ccc;
}
