.vt-shell-idle{
  background-color: rgba(0,255,0,0.5);
}

.v15shell-tooltip{
  -webkit-user-select: text;
  overflow: auto;
}

.v15shell{
  display: inline-block;
  cursor: pointer;  
  vertical-align: top;
  height: 100%;
  margin-right: 2px;
}

.vt-interactif:hover{
  -webkit-filter:none;
}

.vt-interactif{ 
  -webkit-filter: opacity(75%);
}

.vt-shelltask-canceled{
  background-color: rgba(0,0,0,0.5);
}

.vt-shelltask-enqueued{
  background-color: rgba(0,255,0,0.1);
}

.vt-shelltasks-container *{
  -webkit-user-select: text;
}

.vt-shelltasks-container{
  max-height: 100px;
  overflow: auto;  
}

.vt-shell-stdout{
  background-color: rgba(0,0,255,0.1);
}

.vt-shell-stderr{
  background-color: rgba(255,0,0,0.1);
}

.vt-shell-viewport{
  overflow: auto;
  -webkit-user-select: text;
}

.vt-shell-viewport *{  
  -webkit-user-select: text;
}

.vt-shell-inputbar{
  background-color: rgba(128,128,128,0.5);
}

.vt-shell-inputbar button{
  text-align: right;
}
