::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0; 
}

.v15tool{
  vertical-align: middle;
}

#vt-logo{
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./logo.png');
}

#vt-tabs{  
  background-color: rgba(34,34,34,0.5);
  height: 30px;
  overflow: auto;
}

#vt-central{  
}

#vt-main{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 80%;
  /*background-color: rgba(96,96,96,0.5);*/
  overflow: auto;
}

#vt-share{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 20%;
  background-color: rgba(64,64,64,0.5);
  overflow: auto;
}

#vt-status{  
  background-color: rgba(128,128,128,0.5);
  height: 30px;
  overflow: auto;
}