::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

*{
  font-family: "Lucida Console", Monospace;
  font-size: small;
  -webkit-user-select: none;
  overflow: hidden;
}

html, body{  
  height: 100%;
  margin: 0;
  padding: 0;  
}

input{
  vertical-align: middle;
}

.ui-tooltip{
  max-width: inherit;  
}
.ui-tooltip > * {
  -webkit-user-select: auto;
}

@-webkit-keyframes working
{
  from {-webkit-filter : opacity(0);}
  to {-webkit-filter : opacity(1);}
}


.vt-working{
  -webkit-animation: working 1s infinite;
}

.v15tool{
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  font-weight: bold;
  margin-right: 2px;
}

.v15tool p{
  margin-top: 5px;
}

.v15tool.active p{
  margin-top: 10px;
}

.vt-boxshadow{
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 6px inset;
}

.v15tool.active{
  background-color: rgba(240,240,240,0.5);
  -webkit-filter: invert(100%);  
}

.v15tool:hover{
  background-color: rgba(240,240,240,0.5);
  -webkit-filter: invert(100%);
}

#vt-logo{
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./logo.png');
}

#vt-tabs{  
  overflow: auto;
}

#vt-hidden{
  display: none;
}

#vt-main{
  -webkit-user-select: text;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 100%;
}

#vt-status{  
  height: 30px;
  overflow: auto;
}
