::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

*{
  font-family: "Lucida Console", Monospace;
  font-size: small;
  -webkit-user-select: none;
  overflow: hidden;
}

html, body{  
  height: 100%;
  margin: 0;
  padding: 0;  
}

input{
  vertical-align: middle;
}

.vt-ws{
  -webkit-user-select: none;
  cursor:move;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  background-color: greenyellow;
  margin: 1px;
}

.vt-itempath.selected{
  border: solid;
  border-color: red;
}

.v15tool{
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  font-weight: bold;
  margin-right: 2px;
}

.v15tool p{
  margin-top: 5px;
}

.v15tool.active p{
  margin-top: 10px;
}

.v15tool.active{
  background-color: rgba(240,240,240,0.5);
  -webkit-filter: invert(100%);  
}

.v15tool:hover{
  background-color: rgba(240,240,240,0.5);
  -webkit-filter: invert(100%);  
}

.v15shell{
  display: inline-block;
  background-color: rgba(25,25,25,0.5);
  vertical-align: top;
  height: 100%;
  margin-right: 2px;
}

.vt-shell-viewport{
  overflow: auto;
  -webkit-user-select: text;
}

.vt-shell-inputbar{
  background-color: rgba(128,128,128,0.5);
}

.vt-shell-inputbar button{
  text-align: right;
}

.v15shell-tooltip{
  -webkit-user-select: text;
  font-size: small;
  height: 200px;
  width: 100%;
  overflow: auto;
}

#vt-logo{
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./logo.png');
}

#vt-tabs{  
  background-color: rgba(34,34,34,0.5);
  height: 30px;
  overflow: auto;
}

#vt-central{  
}

#vt-main{
  -webkit-user-select: text;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 80%;
  /*background-color: rgba(96,96,96,0.5);*/
  overflow: auto;
}

#vt-share{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 20%;
  background-color: rgba(64,64,64,0.5);
  overflow: auto;
}

#vt-status{  
  background-color: rgba(128,128,128,0.5);
  height: 30px;
  overflow: auto;
}

.ui-selecting {
  background: #ccc;
}