#rwr_old_input,#rwr_old_preqs_input,#rwr_new_input,#rwr_new_preqs_input{
  width: 90%;
  height: 10%;
}

#rwr_report_table, td{
  border-spacing: 10px 0;
  border: 0;
  text-align: left;
}

#rwr_output,#rwr_output *{
  -webkit-user-select :all; 
}

.rwr_new_ko_replay_only{
  color: red;
}

.rwr_new_ko_preqs_too{
  color: orange;
}

.rwr_still_ko{
  color: blue;
}

.rwr_still_ko_to_check{
  color: violet;
}


.rwr_nomore_ko{
  color: green;
}

